{% extends 'base.html' %}

{% block localCssLink %}
    {% load static %}
    <link href="{% static 'css/LK.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block name %}
    Личный кабинет
{% endblock %}

{% block content %}
    <div style="width: 90vw; margin-left: auto; margin-right: auto;">
        <div style="float: left">
            <div class="gradient-text">         
                <h1>Траты</h1>
                <title>Гистограмма</title>
                <script src="https://www.google.com/jsapi"></script>
                <script>
                google.load("visualization", "1", {packages:["corechart"]});
                google.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                    ['Месяц', 'Траты'],
                    ['сентябрь', 1200],
                    ['октябрь', 2000],
                    ['ноябрь', 1210]
                    ]);
                    var options = {
                    title: 'Траты',
                    hAxis: {title: 'Месяц'},
                    vAxis: {title: 'USD($)'}
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById('Trati'));
                    chart.draw(data, options);
                }
                </script>
                <div id="Trati" style="width: 40vw; height: 400px;"></div>
            </div> 

            <h1 class="gradient-text">Доходы</h1>
            <div>         
                <title>Гистограмма</title>
                <script src="https://www.google.com/jsapi"></script>
                <script>
                google.load("visualization", "1", {packages:["corechart"]});
                google.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                    ['Месяц', 'Доходы'],
                    ['сентябрь', 12000],
                    ['октябрь', 20030],
                    ['ноябрь', 1510]
                    ]);
                    var options = {
                    hAxis: {title: 'Месяц'},
                    vAxis: {title: 'USD($)'}
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById('Popoln'));
                    chart.draw(data, options);
                }
                </script>
                <div id="Popoln" style="width: 40vw; height: 400px;"></div>
            </div> 
        </div>

        <div style="float: right">
            <h1 class="gradient-text">Категории трат</h1>
            <script src="https://www.google.com/jsapi"></script>
            <script>
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                ['Трата', '%'],
                ['Рестораны',     9],
                ['Такси', 10],
                ['Магазины одежды',    30],
                ['Продуктовые магазины', 20],
                ['Продуктовые магазины', 20],
                ['Коммунальные платежы', 11]
                ]);
                var options = {
                is3D: true,
                pieResidueSliceLabel: 'Остальное'
                };
                var chart = new google.visualization.PieChart(document.getElementById('Pers'));
                chart.draw(data, options);
            }
            </script>
            <div id="Pers" style="width: 40vw; height: 400px;"></div>

            <br><br><br>
            <table style="width: 350px; clear: right;">
                    <tr><td><h3  class="gradient-text">Всего:</h3></td><td></td></tr>
                    <tr><td>Получено:</td><td>100000$</td></tr>
                    <tr><td>Потрачено:</td><td>10000$</td></tr>
            </table>

            <br><br>
            <h2 class="gradient-text">Перенести данные в excel</h2>
            <button class="button">submit</button>
        </div>
    </div>
{% endblock %}

