{% extends 'base.html' %}

{% block localCssLink %}
    {% load static %}
    <link href="{% static 'css/manager.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block name %}
    Личный кабинет
{% endblock %}

{% block content %}
    <div class="full_information" id="operation_information">
                <div id="close_button" onclick="close_information()"></div>
                <div class="content" id="operation_information_currency"></div>
                <div class="content" id="operation_information_date"></div>
                <div class="content" id="operation_information_category"></div>
                <div class="content" id="operation_information_amount"></div>
                <div class="content" id="operation_information_description"></div>
                <!--<div class="content"></div>-->
            </div>
    <div class="root" id="root">
        <div class="main_container">
            <div class="upper-content-wrapper">
                <div class="name">
                    Кошелёк
                </div>
                <form method="GET" id="wallet-filters">
                    <select name="wallet-currency" id="wallet-currency" placeholder="Выберите валюты" multiple>
                        {% for currency in currencies %}
                            <option>{{ currency.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" id="wallet-filters-button">Отправить</button>
                </form>
                <script>
                    $('#wallet-currency').select2({
                        placeholder: "Выберите валюты",
                        allowClear: true
                    });
                </script>
                <div class="wallet">
                    {% for currency in balance %}
                    <div class="content">
                        {{ currency.currency_id }} : {{ currency.amount }}
                    </div>
                    {% endfor %}
                </div>
                <div class="content" id="total-amount">
                    Всего: {{ total }}
                </div>
            </div>
            <div class="down-content-wrapper">
                <div class="name">
                    Добавить операцию
                </div>
                <form action="" method="POST" class="form_add_operation">
                    {% csrf_token %}
                    <div class="content">
                        {{ form.operation_type }}
                    </div>
                    <script>
                        $('#operations_type').select2({
                            placeholder: "Выберите тип операции",
                            minimumResultsForSearch: Infinity
                        });
                    </script>
                    <div class="content">
                        {{ form.currency }}
                    </div>
                    <script>
                        $('#operations_currency').select2({
                            placeholder: "Выберите валюту",                        
                        });
                    </script>
                    <div class="content">
                        {{ form.amount }}
                    </div>
                    <div class="content">
                        {{ form.datetime }}
                    </div>
                    <div class="content" id="category">
                        {{ form.category }}
                        
                    </div>
                    <script>
                        $('#operations_category').select2({
                            placeholder: "Выберите категорию",
                            language: "rus"
                        });
                    </script>
                    <div class="content" id="new_category">
                        {{ form.new_category }}
                    </div>
                    <div id="swap-category">Добавить категорию</div>
                    <div class="content">
                        {{ form.description }}
                    </div>
                    <div class="form_button">
                        <input type="submit" value="Добавить операцию" id="add_operation">
                    </div>
                </form>
            </div>
        </div>
        <div class="main_container">
            <div class="upper-content-wrapper">
                <div class="name">
                    Последние операции
                </div>
                <div class="filters-wrapper">
                    <form method="GET">
                        <input  class="filter" id="start-export-date" type="date" name="start-date" placeholder="Выберите дату" required>
                        <input  class="filter" id="end-export-date" type="date" name="end-date" placeholder="Выберите дату" required>
                        <button class="filter" type="submit" id="add_filter">Отправить</button>
                    </form>
                </div>
                <div class="operations_content">
                    {% regroup operations by datetime as operations_list %}
                    {% for operation in operations_list %}
                        <div class="date_grouper">{{ operation.grouper|date:"d-m-Y" }}</div>
                        {% for one_operation in operation.list %}
                            <div class="content operation-details" onclick="show_operation_information('{{one_operation.category}}','{{ one_operation.amount }}', '{{ one_operation.currency }}', '{{ one_operation.description }}', '{{ one_operation.datetime }}' )">
                                {% if one_operation.operation_type == '+' %}
                                    <div class="type_image" style="background-image: url({% static 'plus-sign.png' %}"></div>
                                {% else %}
                                    <div class="type_image" style="background-image: url({% static 'minus-sign.png' %}"></div>
                                {% endif %}
                                <div class="operation-wrapper">
                                    <div class="category-label"> {{ one_operation.category }}</div>
                                    <div class="amount-wrapper">
                                        <div class="amount-label">{{ one_operation.amount }}</div>
                                        <div class="currency-label">{{ one_operation.currency }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="down-content-wrapper">
                <div class="name">
                    Текущий курс валют
                </div>
                <div class="operations_content" id="exchange_rates">
                    {% for rate in exchange_rate %}
                        <div class="content">
                            {{ rate.currency }} : {{ rate.rate }} RUB
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="{% static 'dropdown.js' %}"></script>
    </div>
{% endblock %}

