.root{
    display:block;
    width:auto;
    margin:2.5%;
    flex-direction: row;
    height:100vh;

}
.desc_and_reg{
    display: flex;
    width:auto;
    margin:2.5%;
    flex-direction: row;
    height:70%;
}
.name{
    width:90%;
    height:20%;
    margin: 2.5%;
    display: flex;
}
.text{
    margin:auto;
}
.registration_container{
    min-height: 250px;
    display: block;
    width:45%;
    margin: auto;
}
@media screen and (max-width:450px)
{
    .desc_and_reg{
        flex-direction: column;
    }
}