{% extends 'base.html' %}

{% block localCssLink %}
    {% load static %}
    <link href="{% static 'css/registration_page.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block name %}
    Регистрация
{% endblock %}

{% block content %}
    <div class="root">
        <div class="information_container">
            <img class="logo" src="{% static 'logo.png' %}" alt="Упс... Кажется, картинка где-то потерялась. Мы скоро все исправим">
            <p class="description">Отслеживайте свой бюджет. Стройте графики расходов и доходов. Прогнзируйте свой бюджет на будущее с учётом инфляции</p>
        </div>
        <div class="registration_container">
            <p class="name">Регистрация</p>
            <form class="registration_form" action="POST" name="registration_form">
                <div class="mb-3">
                    <input type="email" class="form-control-with-text" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Имя">
                    </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Повторите пароль">
                </div>
                <div class="mb-3">
                    <button type="submit" class="registration_button">Зарегистрироваться</button>
                </div> 
            </form>
        </div>
    </div>
{% endblock %}

