.root{
    width: 95vw;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
}
.main-container{
    width: 400px;
    margin: 10px auto;
    height: 1600px;
    display:flex;
    flex-direction: column;
}
.graph-wrapper{
    height:530px;
    width:100%;
    display: flex;
    flex-direction:column;
}
.name{
    display:flex;
    height:50px;
    width:100%;
    margin: auto;
    font-size: 18px;
    font-family: 'Raleway';
    align-items: center;
    margin-top:0;
}

.inflation-name {
    display:flex;
    height:50px;
    width:100%;
    margin: top;
    font-size: 18px;
    font-family: 'Raleway';
    align-items: center;
    margin-top:0;
} 

.outlay-name {
    display:flex;
    height:50px;
    width:100%;
    margin: top;
    font-size: 18px;
    font-family: 'Raleway';
    align-items: center;
    margin-top:0;
} 

.filters{
    display: flex;
    height: 100px;
    width: 100%;
    margin: auto;
    flex-direction: row;
    align-items: center;
}

.outlay-filters{
    display: flex;
    height: 100px;
    width: 100%;
    margin: top;
    flex-direction: row;
    align-items: center;
}

.field{
    display:flex;
    height: 30px;
    width: 80px;
}

.graph{
    display:flex;
    height: 400px;
    width: 100%;
    margin: auto;
}
.export{
    display:flex;
    width:100%;
    height:50px;
    margin:20px auto;
}
.button{
    height: 40px;
    margin:auto;
    width: 80px;
}
#export-filters{
    margin: 20px auto;
}
#export-name{
    margin: 20px auto;
}
.fields-and-labels{
    margin:auto;
    width:90px;
    height:40px;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 500;
}

#scroll-date-id{
    margin: auto 0;
}

#infliation-content{
    height: 100px;
    margin-top: 20px;
}

#start-export-date, #end-export-date{
    font-size:14px;
    font-family: 'monospace'
}
.filters-form{
    display: flex;
    flex-direction: column;
    margin: top;
    width: 100%;
}
.part-filters{
    display: flex;
    flex-direction: row;
    height: 45px;
    margin: auto;
    width: 95%;
}

.content{
    height: 50px;
    width: 90%;
    margin: auto;
    display: flex;
}

.cont1{
    display: flex;
    flex-direction: column;
    height: 100px;
}

#infliation{
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
}
#infliation-button{
    margin: auto 0;
}
@media screen and (max-width:1000px)
{
    .root{
        flex-direction: column;
    }
}

@media screen and (max-width:400px)
{

    .fields-and-labels{
        width: 70px;
        margin: auto;
        font-size: 11px;
        font-family: 'Raleway';
        font-weight: 500;
        align-items: center;
        heigth: 40px;
    }
    .part-filters{
        width: 310px;
    }
    .main-container{
        width: 315px;
    }
}

.outlay-month-select-submit {
    height: 40px;
    width: 80px;
    margin: auto;
}

#prediction{
    display: flex;
    width: 100%;
}