body{
    transition: filter 0.5s linear;

}

.root{
    flex-direction: row;
    display: flex;
}

.main_container{
    width: 350px;
    height: 900px;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}
.wallet{
    height: 120px;
    width: 100%;
    display:flex;
    margin:auto;
    flex-direction:column;
    overflow-y: auto;

}

.upper-content-wrapper{
    height: 350px;
    width: 100%;
    display:flex;
    margin:auto;
    flex-direction:column;
}

.name{
    display:flex;
    margin:auto;
    width:100%;
    height:50px;
    font-size: 25px;
    font-family: Raleway;
    align-items: center;
    margin-top:20px;
}
.content{
    display:flex;
    margin: 5px auto;
    min-height: 55px;
    height:55px;
    width:100%;
    font-size:18px;
    flex-direction:row;
    align-items: center;
}

#total-amount{
    align-items: center;
    min-height:35px;
    height:35px;
    font-size: 25px;
    font-family: Raleway;
}

.form_button{
    display:flex;
    width:100%;
    height:30px;
}


.field{
    font-size: 18px;
    display: flex;
    width:70%;
    height: 29px;
    border: 0;
    border-color: #A5A5A5;
    border-radius: 5px;
    color: #757575;
    box-shadow: 2px 3px 3px 0px #a8fff9;
    outline: none;
    background-color: white;
    margin: auto 0;
    margin-right: auto;

}

.label{
    font-size: 15px;
    color: #fdf;
    margin-bottom: 5px;
}
#amount-field{
    padding: 0;
    width: 70%;
    border-width: 1px;
    height: 29px;
    text-indent: 3px;
}

.form_add_operation{
    height:450px;
    display:flex;
    flex-direction:column;
}

.recent_operations_wrapper{
    display:flex;
    flex-direction: column;
}

.operations_content{
    display:flex;
    height:231px;
    flex-direction:column;
    overflow-y: auto;
}


.down-content-wrapper{
    height:530px;
    width: 100%;
    display:flex;
    margin:auto;
    flex-direction:column;
}
#swap-category{
    margin-top: 0;
    height: 20px;
    font-size: 15px;
    width: 40%;
    cursor: pointer;
}
#new_category{
    display:none;
}
.type_image{
    display: flex;
    height: 30px;
    width: 30px;
    background-size: 100%;
    background-position: center;
    margin: auto;
}
.operation-wrapper{
    width: calc( 100% - 40px );
    height: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 10px;

}
.category-label{
    height: 20px;
    width: 310px;
    font-size: 17px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.amount-label{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}
.currency-label{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}
.amount-wrapper{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    font-size: 20px;
}
.date_grouper{
    height: 18px;
    width: 100%;
    font-size: 16px;

}
.operation-details{

}

.filters-wrapper{
    height: 30px;
    width: 100%;
    margin: auto;
}
.filter{
    height: 100%;
    width: 30%;
    margin: auto;
}

#select-state{
    height: 35px;
    width: 50%;
}

@media screen and (max-width:1000px)
{
    .root{
        flex-direction: column;
    }
}