@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

table {
    border-bottom: 1px solid grey;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}
button {
    background: #66FCF1;
    border-radius: 25px;
    border: 2px solid #4eb6af;
    width: 150px;
    height: 45px;
    font-size: 27px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; 
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.button:hover {
    background-color: #55c5c0; 
    color: white;
}

h1{
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}

.gradient-text {
    color: transparent;
    background: conic-gradient(
        #978ff0 12%, #7348d1 12%,
        #8d7bb6 33%, #a6c46a 33%,
        #8cb144 55%, #b35252 55%, 
        #ca7979 70%, #339ba8 70%, 
        #318d99 87%, #cc7a46 87%
    );
    background-size: 50%;
    background-clip: text;
    animation: expand-rev 0.5s ease forwards;
    cursor: pointer;
}

.gradient-text:hover{
    animation: expand 0.5s ease forwards;
}

@keyframes expand {
    0% {
        background-size: 50%;
        background-position: 0 0;
    }
    20% {
        background-size: 55%;
        background-position: 0 1em;
    }
    0% {
        background-size: 325%;
        background-position: -10em -4em;
    }
}

@keyframes expand-rev {
    100% {
        background-size: 50%;
        background-position: 0 0;
    }
    20% {
        background-size: 55%;
        background-position: 0 1em;
    }
    0% {
        background-size: 325%;
        background-position: -10em -4em;
    }
}