{% load static %}
    
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base_css.css' %}">

<footer class = "header-footer" id="footer">
    <div class = "menu">
        <ul class = "list">
            <li class = "footer-item">
                <a class = "text">© 2022 Oompa Loompa</a>
            </li>

            <li class = "footer-item">
                <a class = "text">Terms of Service</a>
            </li>

            <li class = "footer-item">
                <a  href = "https://vk.com/arsen1000rub" class = "text">VK</a>
            </li>
        </ul>
    </div>
</footer>
