{% extends 'base.html' %}

{% block localCssLink %}
    {% load static %}
    <link href="{% static 'css/registration_page.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block name %}
    Вход
{% endblock %}

{% block content %}
<div class="registration_container">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <form class="registration_form" method="POST" action="" name="registration_form">
        {% csrf_token %}
        
        <div class="mb-3">
            <p class="name">Вход</p>
        </div>
        
        <div class="mb-3">
            <input type="email" name="email" class="form-control-with-text" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            <div class="line"></div>
        </div>
        <div class="mb-3">
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
            <div class="line"></div>
        </div>
        <div class="mb-3">
            <button type="submit" class="registration_button">Войти</button>
        </div> 
    </form>
</div>
{% endblock %}