{% extends 'base.html' %}

{% block localCssLink %}
{% load static %}

<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
<!-- <link href="{% static 'css/registration_page.css' %}" rel="stylesheet" type="text/css"> -->
{% endblock %}

{% block name %}
Главная
{% endblock %}

{% block content %}

{% for message in messages %}
{{ message }}
{% endfor %}

<div class="container">
    <div class="main_part">
        <div class="main_part__row">
            <div class="main_part__body">
                <div class="main_part__title"><h2>Project g</h2></div>
                <div class="main_part__text">
                    <p>
                        Сервис для контроля личных финансов.
                    </p>
                    <ul>
                        <li> Отслеживайте свой бюджет</li>
                        <li> Стройте графики расходов и доходов</li>
                        <li> Прогнозируйте свой бюджет на будущее с учётом инфляции</li>
                    </ul>
                </div>
                <span class = "button" style = "background-color: blueviolet; margin-left: 1%;"  onclick="location.href='{% url 'register' %}';">
                    <p name = "hf-text"> Регистрация </p>
                </span>

            </div>
            <div class="main_part__photo">
                <img src="{% static 'img/main_logo.png' %}" alt="main_part_img">
            </div>

        </div>
    </div>
</div>

{% endblock %}
