{% extends 'base.html' %}

{% block localCssLink %}
    {% load static %}
    <link href="{% static 'css/LK_stats.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block name %}
    Личный кабинет
{% endblock %}

{% block content %}

    <div class="root">
        <div class="main-container">
            <div class="graph-wrapper">
                <div class="name">
                    Траты и доходы
                </div>
                <div class="filters">
                    <form id="wallet-filters" class="filters-form" method="GET">
                        <div class="part-filters">
                            <select class="field" name="wallet-type" size="1" id="type">
                                <option selected="true" disabled="disabled">По умолчанию: доходы</option>
                                <option>Доходы</option>
                                <option>Расходы</option>
                            </select>
                            <select class="field" name="wallet-currency" size="1" id="currency">
                                <option selected="true" disabled="disabled">По умолчанию: USD</option>
                                <option>USD</option>
                                <option>RUB</option>
                            </select>
                        </div>
                        <div class="part-filters">
                            <div class="fields-and-labels">Выберите период:</div>
                            <input class="fields-and-labels" id="start-export-date" type="date" name="wallet-start-date" placeholder="Выберите дату">
                            <input class="fields-and-labels" id="end-export-date" type="date" name="wallet-end-date" placeholder="Выберите дату">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
                <div class="graph" id="graph">
                </div>
            </div>

            <div class="graph-wrapper">
                <div class="name">
                    Состояние кошелька
                </div>
                <div class="filters">
                    <div class="fields-and-labels">Выберите период:</div>
                    <input class="fields-and-labels" id="1start-export-date" type="date" name="start-date" placeholder="Выберите дату">
                    <input class="fields-and-labels" id="1end-export-date" type="date" name="end-date" placeholder="Выберите дату">
                </div>
                <div class="graph" id="graph2">
                </div>
            </div>
            <div class="graph-wrapper">
                <div class="name" id="scroll-name">
                    Остаток с учетом инфляции
                </div>
                <form method="GET" class="filters-form">
                <div class="filters" id="infliation">
                    <div class="cont1">
                        <div class="fields-and-labels">Выберите период:</div>
                        <select name="scroll-date">
                            <option value="3">3 Месяца</option>
                            <option value="6">6 Месяцев</option>
                            <option value="12">Год</option>
                        </select>
                    </div>
                    <button type="submit">Рассчитать</button>
                </form>
                </div>
                {% for balance in user_balances %}
                <div class="content">
                    {{ balance.currency_id }} : {{ balance.amount }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="main-container">
            <div class="graph-wrapper">
                <div class="name">
                    Траты по категориям
                </div>
                <div class="filters">
                    <form method="GET" id="currency-filters" class="filters-form">
                        <div class="part-filters">
                            <select class="field" name="category-currency" size="1" id="category-currency">
                                <option selected="true" disabled="disabled">По умолчанию: USD</option>
                                <option>USD</option>
                                <option>RUB</option>
                            </select>
                        </div>
                        <div class="part-filters">
                            <div class="fields-and-labels">Выберите период:</div>
                            <input class="fields-and-labels" id="category-start-export-date" type="date" name="category-start-date" placeholder="Выберите дату">
                            <input class="fields-and-labels" id="category-end-export-date" type="date" name="category-end-date" placeholder="Выберите дату">
                            <button type="submit">Отправить</button>
                        </div>
                    </form>
                </div>
                <div class="graph" id="graph3">
                </div>
            </div>
            <div class="graph-wrapper">
                <div class="name" id="export-name">
                    Экспорт данных в excel
                </div>
                <div class="filters" id="export-filters">
                    <div class="fields-and-labels">Выберите период:</div>
                    <input class="fields-and-labels" id="3start-export-date" type="date" name="start-date" placeholder="Выберите дату">
                    <input class="fields-and-labels" id="3end-export-date" type="date" name="end-date" placeholder="Выберите дату">
                </div>
                <div class="export">
                    <input type="submit" class="button">
                </div>
            </div>
            <div class="graph-wrapper">
                <div class="name">
                    Прогноз месячных расходов
                </div>
                <div class="filters">
                    <form method="GET" id="prediction">
                        <div class="fields-and-labels">Выберите месяц:</div>
                        <div class="filters">
                            <select id="gMonth1" name="outlay-month-select">
                                <option></option>
                                <option value='1'>Январь</option>
                                <option value='2'>Февраль</option>
                                <option value='3'>Март</option>
                                <option value='4'>Апрель</option>
                                <option value='5'>Май</option>
                                <option value='6'>Июнь</option>
                                <option value='7'>Июль</option>
                                <option value='8'>Август</option>
                                <option value='9'>Сентябрь</option>
                                <option value='10'>Октябрь</option>
                                <option value='11'>Ноябрь</option>
                                <option value='12'>Декабрь</option>
                            </select> 
                        
                            <div class="outlay-month-select-submit">
                                <input type="submit" class="button">
                            </div>
                        </div>
                        <script>
                            $('#gMonth1').select2({
                                placeholder: "Выберите месяц",
                                minimumResultsForSearch: Infinity
                            });
                        </script>
                    </form>
                </div>
                {% if outlay_data_flag %}
                    <div class="graph" id="graph4"></div>
                    <div class="estimated-outlay">
                        Рассчитываемые расходы: {{ expected_outlay }}
                    </div>
                {% else %}
                    <div>В этом месяце вы ничего не потратили :)</div>
                {% endif %}
            </div>
        </div>
        <script src="https://www.google.com/jsapi"></script>
        <script>google.load("visualization", "1.0", {packages:["corechart"]})</script>
        <script src="{% static 'graphs.js' %}"></script>
        <script>
            window.onpageshow = function() {
                initialization({{data_income|safe}}, {{data_budget|safe}}, {{data_categories|safe}}, {{monthly_outlay_data|safe}});
            }; 
        </script>

    </div>
{% endblock %}

