<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/base_css.css' %}">
    <title>Document</title>
</head>
<body>
    <footer class = "header-footer">
        <div class = "menu">
            <ul class = "list">
                <li class = "footer-item">
                    <a class = "text">  <p> © 2022 Oompa Loompa </p> </a>
                </li>

                <li class = "footer-item">
                    <a class = "text">  <p> Terms of Service </p> </a>
                </li>

                <li class = "footer-item">
                    <a  href = "https://vk.com/arsen1000rub" class = "text"> <p> VK </p> </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>