@url ("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap")

.header-footer {
    background-color: #1f2833;
}

.menu {
    display: block;
}

.menu-item {
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 2%;
    border: 1px solid #1f2833;
}

.menu-item:hover {
    border: 1px solid #66fcf1;
    border-radius: 20px;
}

.menu-item[name="logo"] {
    padding: 1%;
    border: 1px solid #66fcf1;
    border-radius: 20px;
    margin: 2%;
}

.text {
    font-family: ;
    text-decoration: none;
    color: #66fcf1;
}