<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class = "header-footer">
        <div class = "menu"> 
            <ul>
                <li class = "menu-item" name = "logo">
                    <img src = "" alt = "logo">
                </li>

                <li class = "menu-item">
                    <a class = "text">  титл1 </a>
                </li>
    
                <li class = "menu-item">
                    <a class = "text"> титл2 </a>
                </li>
            </ul>
        </div>
        
    </header>
</body>
</html>