<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/base_css.css' %}">
</head>
<body>
    <header class = "header-footer">
        <div class = "menu">
            <ul class = "list">
                <li class = "menu-item" name = "logo">
                    <a href = "{% url 'main' %}" > <img src = "{% static 'img/main_logo.png' %}" alt = "logo"> </a>
                </li>
                {% if user.is_authenticated %}

                {% else %}
                <div class = "right">
                    {% if not 'login' in request.path %}
                    <li class = "menu-item">
                        <a href = "{% url 'login' %}" class = "text">  <p name = "hf-text"> Login </p> </a>
                    </li>
                    {% endif %}

                    {% if not 'register' in request.path %}
                    <li class = "menu-item" style = "background-color: blueviolet; margin-left: 1%;">
                        <a  href = "{% url 'register' %}" class = "text"> <p name = "hf-text"> Sign Up </p> </a>
                    </li>
                    {% endif %}
                </div>

                {% endif %}
            </ul>
        </div>

    </header>
</body>
</html>